*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: arial,sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
}

.main-menu {
    position: relative;
}
.header-right li:last-child {
    padding-right: 15px;
}
ul li {
    display: inline-block;
    list-style-type: none;
}
.dropdown {
    width: 200px;
    border: 1px solid #e4e4e4;
    display: none;
    position: absolute;
    right: 20%;
    background-color: white;
}
.dropdown img {
    width:33.3%;
    object-fit: contain;

}
.dropdown p {
    text-align: center;
}
.dropdown li a {
    line-height: 1;
}

.header-left a, .header-right a {
    text-decoration: none;
    padding-left: 15px;
    color: #000;
    opacity: 0.75;
    font-family: arial,sans-serif;
    font-size: 13px;
    line-height: 50px;

}
.header-left a:hover, .header-right a:hover {
    text-decoration: underline;
}
.header-right .primary-button {
    padding: 5px;

}
.fa-th {
    font-size: 18px;
    color: grey;
}
.fa-th:hover {
    color: black;
}
.container {
    width: 1000px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}
.logo img {
    width: 400px;
    height: 300px;
    object-fit: contain;
}
.central-button {
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.central-button a {
    color: #5F6368;
    text-decoration: none;
}
.central-button:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;

}
.central-button a:hover {
    color: #222;
}
.privacy-bar {
    width: 100%;
    height: 100px;
    border-top: 1px solid #e4e4e4;
    display: flex;
    justify-content: space-between;
    line-height: 100px;
}
.privacy-bar a {
    color: rgba(0,0,0,.54);
    text-decoration: none;
}
.privacy-bar-left li {
    margin-left: 30px;
}
.privacy-bar-right li a:first-child {
    text-transform: uppercase;
    color: #2962ff;
}
.privacy-bar-right li {
    margin-right: 30px;
    font-size: 15px;

}
.primary-button {
    background-color: #2962ff;
    border-radius: 10px;
    padding: 15px;
    color: white;
    text-transform: uppercase;

}

.footer-bottom {
    display: flex;
    justify-content: space-between;
}

.footer-top, .footer-bottom {
    color: rgba(0,0,0,.54);
    font-size: 15px;
    line-height: 40px;
    width: 100%;

    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
}
.footer-top p, .footer-bottom a {
    margin-left: 30px;
}
.footer-bottom a {
    color: rgba(0,0,0,.54);
    text-decoration: none;
}
.footer-bottom a:hover {
    text-decoration: underline;
}
.bottom-right li:last-child {
    margin-right: 30px;
}
