*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    display: flex;
    justify-content: space-between;
}

.header-right {
    text-align: right;
}
ul li {
    display: inline-block;
    list-style-type: none;
}
.header-left a, .header-right a {
    text-decoration: none;
    padding-left: 15px;
    color: #000;
    opacity: 0.75;
    font-family: arial,sans-serif;
    font-size: 13px;
    line-height: 50px;

}
.header-left a:hover, .header-right a:hover {
    text-decoration: underline;
}
.fa-th {
    font-size: 18px;
    color: grey;
}
.fa-th:hover {
    color: black;
}
.container {
    width: 1000px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}
.logo img {
    width: 400px;
    height: 300px;
    object-fit: contain;
}
